# Король Константин ИУ5-62 РК №2

Вариант №1. Классификация текстов на основе методов наивного Байеса.
Данный вариант выполняется на основе материалов лекции.

Необходимо решить задачу классификации текстов на основе любого выбранного Вами датасета. Классификация может быть бинарной или многоклассовой. Целевой признак из выбранного Вами датасета может иметь любой физический смысл, примером является задача анализа тональности текста.

Необходимо сформировать признаки на основе CountVectorizer или TfidfVectorizer.

В качестве классификаторов необходимо использовать один из классификаторов, не относящихся к наивным Байесовским методам (например, LogisticRegression), а также Multinomial Naive Bayes (MNB), Complement Naive Bayes (CNB), Bernoulli Naive Bayes.

Для каждого метода необходимо оценить качество классификации с помощью хотя бы одной метрики качества классификации (например, Accuracy).

Сделате выводы о том, какой классификатор осуществляет более качественную классификацию на Вашем наборе данных.

Описание признаков

age
sex
chest pain type (4 values)
resting blood pressure
serum cholestoral in mg/dl
fasting blood sugar > 120 mg/dl
resting electrocardiographic results (values 0,1,2)
maximum heart rate achieved
exercise induced angina
oldpeak = ST depression induced by exercise relative to rest
the slope of the peak exercise ST segment
number of major vessels (0-3) colored by flourosopy
thal: 3 = normal; 6 = fixed defect; 7 = reversable defect

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB, BernoulliNB
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

In [2]:
data = pd.read_csv('data/heart.csv', sep=',')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [4]:
X = data.loc[:, data.columns != 'target']
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [5]:
Y = data['target']
Y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [6]:
X_train, X_test, y_train, y_test = train_test_split(
X, Y, test_size = 0.2, random_state = 1)
X_train.shape, y_train.shape

((242, 13), (242,))

In [7]:
X_test.shape, y_test.shape

((61, 13), (61,))

In [8]:
def metrics_res(classifier):
    classifier.fit(X_train, y_train)
    y_pred = classifier.predict(X_test)
    return classification_report(y_test, y_pred, output_dict=True)["0"], \
        classification_report(y_test, y_pred, output_dict=True)["1"]

In [9]:
metrics_res(LogisticRegression(C=10))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

({'precision': 0.7692307692307693,
  'recall': 0.6666666666666666,
  'f1-score': 0.7142857142857142,
  'support': 30},
 {'precision': 0.7142857142857143,
  'recall': 0.8064516129032258,
  'f1-score': 0.7575757575757576,
  'support': 31})

In [10]:
metrics_res(MultinomialNB())

({'precision': 0.6896551724137931,
  'recall': 0.6666666666666666,
  'f1-score': 0.6779661016949153,
  'support': 30},
 {'precision': 0.6875,
  'recall': 0.7096774193548387,
  'f1-score': 0.6984126984126984,
  'support': 31})

In [11]:
metrics_res(ComplementNB())

({'precision': 0.6896551724137931,
  'recall': 0.6666666666666666,
  'f1-score': 0.6779661016949153,
  'support': 30},
 {'precision': 0.6875,
  'recall': 0.7096774193548387,
  'f1-score': 0.6984126984126984,
  'support': 31})

In [12]:
metrics_res(BernoulliNB())

({'precision': 0.72,
  'recall': 0.6,
  'f1-score': 0.6545454545454547,
  'support': 30},
 {'precision': 0.6666666666666666,
  'recall': 0.7741935483870968,
  'f1-score': 0.7164179104477612,
  'support': 31})

Лучший результат показала логистическая регрессия.
Байесовские методы показали почти идентичные результаты.